/**Color properties 

1. RGB - rgb(red value, blue value, green value) | 0-255 | 8-bit
2. HEX - 0-9,A,B,C,D,E,F, #ff0000

Opacity - Alpha (0-1)
**/

.heading-2 {
  /* color: rgb(10, 247, 112); */
  /* color: #3503cb; Hex */
  /* color: rgba(255, 0, 0, 0.5); */
  color: #035151d8;
  background-color: #00800050;
}

/* Font properties */

.heading-2 {
  font-family: "Helvetica";
  font-size: 4rem;
  font-weight: lighter;
  font-style: italic;
}

.heading-3 {
  font-family: "Courier";
  font-size: 3rem;
  font-weight: normal;

  /* text gradient  */
  background: linear-gradient(to right, red, blue, green, white);
  background-clip: text;
  color: transparent;
}

.gradient-box {
  height: 200px;
  width: 100%;
  /* background-color: red; */
  background: linear-gradient(to right, red 50%, blue, green, white);
  /* background: radial-gradient(red, green, blue, white); */
  /* background: linear-gradient(to right, #fc0012, #fbacac); */
}

/* Text properties  */

.mern {
  text-align: center; /*left, right, center, justify*/
  /* text-decoration: underline dashed blue; */
  /* text-decoration: line-through; */
  text-decoration: overline;
  text-transform: capitalize; /* uppercase, lowercase, capitalize */
  text-shadow: 2px 0 5px red; /* horizontal vertical spread color */
  letter-spacing: 5px;
  word-spacing: 10px;
}

.content {
  text-align: justify;
  line-height: 2;
  font-weight: bold;
}

/* Box Model properties  */

.box {
  height: 100px;
  color: red;
  background-color: bisque;
  width: 100px;

  margin: 50px; /* outer gap */
  padding: 20px; /* inner gap */
  border: 10px solid black; /* boundary: size type color */

  margin-top: 10px;
  padding-left: 50px;
  border-right: 5px dotted green;

  margin-inline: 30px; /* horizontal */
  padding-block: 40px; /* vertical */
  border-block: 20px solid blue;

  box-sizing: border-box;
}

/* Display properties  */

.heading-display {
  display: inline-block; /* block, inline-block (margin works), inline, none, grid, flex */
  text-align: right;
  padding: 20px;
  margin: 10px;
}

/* Flex properties */

/* parent */
.container {
  height: 400px;
  width: 100%;
  background-color: aquamarine;

  display: flex;
  flex-direction: row;
  justify-content: center; /* Main axis alignment: left, right, center, space-between, space-evenly, space-around */
  align-items: center; /* Cross axis alignment: start, center, end */
  gap: 50px;
}

.card {
  height: 100px;
  width: 100px;
  background-color: darksalmon;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}